!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
./.claude
./.idea
.cache
.cache/
.docusaurus
.DS_Store
.dynamodb/
.env
.env.*
.eslintcache
.firebase/
.fusebox/
.grunt
.idea/
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.serverless/
.stylelintcache
.svelte-kit/
.temp
.tern-port
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
.yarn/*
*.csv
*.dat
*.gz
*.lcov
*.log
*.out
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
**/.vitepress/cache
**/.vitepress/dist
/build
/logs
/npm-debug.log*
/pids
/results
/yarn-error.log*
bower_components
build/Release
CLAUDE.md
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Thumbs.db # Windows
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*
